* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#form {
  display: grid;
  grid-template-columns: 85% 1fr;
  margin: 1rem;
}
#input {
  padding: 0.5rem;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 4px;
}

#form button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#messages {
  list-style-type: none;
}

#messages li {
  display: flex;
}
#messages li.right {
  justify-content: flex-end;
}

#messages li span {
  background-color: aliceblue;
  color: black;
  padding: 1rem;
  margin: 0.5rem 1rem;
  border-radius: 10px;
  border-bottom-left-radius: 0;
}

#messages li.right span {
  background-color: #28a745;
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 0;
}
